body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
}

.section {
    padding: 50px 0;
    text-align: center;
}

.content {
    max-width: 800px;
    margin: 0 auto;
}


#home img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin-top: 20px;
}

#about {
    background-color: #f0f0f0;
}

#portfolio {
    background-color: #e6e6e6;
}

#contact {
    background-color: #f0f0f0;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
}
